@charset "utf-8";
/* CSS Document */

body {
    font-family: "Georgia", Times, serif;
    color: black;
    line-height: 1.4em;
    margin: 30px;
    background-image: url("images/page-bg.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:  #F7F3DE; 

}