@charset "utf-8";
/* CSS Document */

body {
    font-family: "Georgia", Times, serif;
    color: black;
    line-height: 1.4em;
    margin: 30px;
    background-image: url("images/page-bg.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:  #F7F3DE; 

}
header h1  {
    font-size: 350%;
    color: to #7C1A00;
    padding: 40px;
    padding-left : 120px;
    background-image: url("images/header-image-1.gif");
    background-position: top left; 
    background-repeat: no-repeat;


}
#container{
    margin-bottom: 30px;
    
}

nav {
  float: left;
  width: 150px;
  
}
nav ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  color: #7c1A00;
}
nav li {
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #7c1A00;
  background-color: #FFE597;
  
}

nav a {
  color: white;
  background-color:#7c1A00;
  padding: 3px;
  padding-right: 60px;
  text-decoration: none;  
}
nav a:hover {
   color: #7C1A00
}
#content{
    background-image: url("trans-bg.gif");
    border: 1px solid #CCCCCC;
    margin-left: 180px;
    padding: 10px;
}
footer{
    clear: both;
    text-align: center;
}
footer li {
display: inline;
padding: 10px;

}
h1 {
color: #8C9273;
}
h2 {
    border-left: 20px solid #8C9273;
    border-bottom: 5px solid #8C9273;
    padding-left: 5px;
}
h3
{background-image: url("header-star-1.giff");
    padding-left: 20px;
}
blockquote {
    background-color: #FFE597;
}
ul {
    list-style-type: square;



}
a{
    color: #7C1A00;
    font-weight: bold;
}

A :hover{background-color: #FFE597;


}